.Button1 {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  color: #5c9210;
}

.Button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.Button2 {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  color: #944317;
}

.Button1:disabled {
  color: #cccccc;
  cursor: not-allowed;
}
